/* HEADER */

/* Botão Pular para Conteúdo Principal */
nav .logo .pularNavegacao {}

/* Caixa do Logotipo + Botão de compartilhamento */

nav .logo img{
  background-color: #9D3B1F;
}
nav .nav-link, nav .nav-link:hover, nav .nav-link:focus{
  background-color: #9D3B1F;
  color: #fff;
}

/* Botão de compartilhamento */
nav .nav-link {}
nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {}

/* FOOTER */
/* Cores de fonte + contornos */
 footer, footer .sharing i {
  background-color: #D1704A;
  color: #fff;
}
footer .cred-rea>div:not(:first-child) {
  border-left-color: #fff;
}
footer .aval-rea .btn-secondary {
  border-color: #fff;
}
@media (max-width: 1199.98px) {
  footer .sharing i {
    background-color: #D1704A;
    color:  white;
  }
} 
footer .aval-rea .btn-secondary:hover,
footer .aval-rea .btn-secondary:focus {}

/* Cor do ícone de compartilhamento dentro dos círculos. Ajustar para mesma cor do fundo quando utilizado background diferente do padrão ou transparente. */
/* @media (max-width: 1199.98px) {
  footer .sharing i {
    color:  red;
  } */

/* MAIN */
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 992px) {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
